[submodule "MDsim"]
	path = MDsim
	url = git@github.com:kyonofx/MDsim.git
[submodule "EGAP"]
	path = EGAP
	url = git@github.com:EricZQu/EGAP.git
[submodule "xformers"]
	path = xformers
	url = git@github.com:facebookresearch/xformers.git
