[submodule "MDsim"]
	path = MDsim
	url = git@github.com:kyonofx/MDsim.git
[submodule "EGAP"]
	path = EGAP
	url = git@github.com:EricZQu/EGAP.git
[submodule "efficient-kan"]
	path = efficient-kan
	url = git@github.com:Blealtan/efficient-kan.git
