# scheduler reduce lr on plateau
job:
  mem: 12GB
  cpus: 4
  gres: gpu:16gb:1
  partition: long
  code_loc: /home/mila/s/schmidtv/ocp-project/run-repos/ocp-2

default:
  wandb_project: ocp-qm
  config: faenet-qm9-all
  mode: train
  test_ri: true
  wandb_tags: qm9, faenet-qm9-lse
  log_train_every: 200
  note:
    model: name, num_gaussians, hidden_channels, num_filters, num_interactions, phys_embeds, pg_hidden_channels, energy_head, mp_type
    optim: batch_size, lr_initial
  frame_averaging: 3D
  fa_frames: random
  dataset:
    train:
      lse_shift: true
    val:
      lse_shift: true
    test:
      lse_shift: true
  optim:
    warmup_steps: 3000
    # parameters EMA
    ema_decay: 0.999
    batch_size: 64
    initial_lr: 0.0005
    max_epochs: 1500
    loss_energy: mse
    loss_force: mse
    # early stopping
    es_patience: 20
    es_min_abs_change: 0.00001
    es_warmup_epochs: 500
    # all below is for the ReduceLROnPlateau scheduler
    scheduler: ReduceLROnPlateau
    mode: min
    factor: 0.75
    threshold: 0.0001
    threshold_mode: abs
    min_lr: 0.000001
    verbose: true
    patience: 15
  model:
    act: swish
    att_heads: 1
    complex_mp: false
    cutoff: 5.0
    edge_embed_type: all_rij
    energy_head: ''
    force_decoder_type: null
    graph_norm: true
    hidden_channels: 110
    max_num_neighbors: 40
    mp_type: updownscale_base
    num_filters: 384
    num_gaussians: 64
    num_interactions: 4
    pg_hidden_channels: 32
    phys_embeds: true
    second_layer_MLP: true
    skip_co: true
    tag_hidden_channels: 0


runs:
  - model:
      complex_mp: false
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 110
      max_num_neighbors: 40
      mp_type: updownscale_base
      num_filters: 384
      num_gaussians: 64
      num_interactions: 4
      pg_hidden_channels: 32
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - model:
      complex_mp: false
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 256
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 64
      num_interactions: 4
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - model:
      complex_mp: false
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 256
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 64
      num_interactions: 4
      phys_embeds: false
      second_layer_MLP: true
      skip_co: true

  - model:
      complex_mp: false
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 384
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 50
      num_interactions: 4
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 384
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 50
      num_interactions: 5
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - optim:
      initial_lr: 0.001
    model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 384
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 50
      num_interactions: 5
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - optim:
      initial_lr: 0.001
      batch_size: 128
    model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 384
      max_num_neighbors: 40
      num_filters: 384
      num_gaussians: 50
      num_interactions: 5
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - optim:
      initial_lr: 0.001
      batch_size: 128
    model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 100
      max_num_neighbors: 40
      num_filters: 100
      num_gaussians: 100
      num_interactions: 3
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - optim:
      initial_lr: 0.001
      batch_size: 1024
    model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 100
      max_num_neighbors: 40
      num_filters: 100
      num_gaussians: 100
      num_interactions: 3
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true

  - optim:
      initial_lr: 0.001
      batch_size: 128
    model:
      complex_mp: true
      cutoff: 5.0
      graph_norm: true
      hidden_channels: 512
      max_num_neighbors: 40
      num_filters: 256
      num_gaussians: 50
      num_interactions: 3
      phys_embeds: true
      second_layer_MLP: true
      skip_co: true
