# more epochs, larger batch size, explore fanet: larger model & skip-co & mlp_rij
job:
  mem: 48GB
  cpus: 8
  gres: gpu:1
  time: 24:00:00
  partition: long
  code_loc: /home/mila/s/schmidtv/ocp-project/run-repos/ocp-1
  env: ocp-a100

default:
  wandb_project: ocp-qm
  mode: train
  test_ri: true
  wandb_tags: qm9
  phys_hidden_channels: 0
  phys_embeds: False
  energy_head: False
  pg_hidden_channels: 0
  tag_hidden_channels: 0
  frame_averaging: ""
  optim:
    batch_size: 64
    warmup_steps: 3000
    lr_initial: 0.0002
    # parameters EMA
    ema_decay: 0.999
    # exp. decay to 0.01 * lr_initial in 1000000 steps
    decay_steps: max_steps
    decay_rate: 0.05 # at the end of training, lr is decay_rate*lr_initial
    # max_epochs = ref_steps[3e6] / (n_train[110 000] / ref_batch_size[32])
    max_epochs: -1
    max_steps: 3000000
  note:
    model: name, num_gaussians, hidden_channels, num_filters, num_interactions, phys_embeds, pg_hidden_channels, phys_hidden_channels
    optim: batch_size, lr_initial
    _root_: frame_averaging, fa_frames

runs:
  - config: dpp-qm9-all
    note: DimeNet++ qm9 baseline
    # https://github.com/gasteigerjo/dimenet/blob/fd36d381a2b31721da0cbf879b2d0c0a166fa76b/config.yaml
    model:
      cutoff: 5.0
      num_before_skip: 1
      num_after_skip: 2
      num_blocks: 6
      int_emb_size: 128
    optim:
      batch_size: 32
      warmup_steps: 1000
      lr_initial: 0.001
      # parameters EMA
      ema_decay: 0.999
      # exp. decay to 0.01 * lr_initial in 1000000 steps
      decay_steps: 1000000
      decay_rate: 0.01
      # max_epochs = ref_steps[3e6] / (n_train[110 000] / ref_batch_size[32])

  - config: schnet-qm9-all
    model:
      hidden_channels: 128
      num_gaussians: 20
      num_filters: 128
      num_interactions: 3
      cutoff: 5.0

  - config: schnet-qm9-all
    model:
      hidden_channels: 128
      num_gaussians: 100
      num_filters: 128
      num_interactions: 3
      cutoff: 5.0
    optim:
      lr_initial: 0.001

  - config: schnet-qm9-all
    model:
      hidden_channels: 128
      num_gaussians: 100
      num_filters: 128
      num_interactions: 6
      cutoff: 5.0