# build the documentation and upload the built artifact
name: build documentation

on:
  workflow_call:
  workflow_dispatch:
  # this will run a build when a review is submitted to make sure the PR does not break docs before merging
  pull_request_review:
    types: [submitted, edited]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install pandoc
      run: sudo apt-get install pandoc

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f packages/requirements.txt ]; then pip install -r packages/requirements.txt; fi
        if [ -f packages/requirements-optional.txt ]; then pip install -r packages/requirements-optional.txt; fi
        pip install -e packages/fairchem-core[docs,adsorbml]
        pip install -e packages/fairchem-data-oc[dev]
        pip install -e packages/fairchem-demo-ocpapi[dev]
        pip install -e packages/fairchem-applications-cattsunami

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build docs

    - name: Upload documentation artifact
      uses: actions/upload-artifact@v4
      with:
        name: docs-html
        path: docs/docs/_build/html/*
