name: documentation

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - ocp_documentation
    paths:
      - 'docs/**'
      - '.github/workflows/docs.yml'

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install pandoc
      run: sudo apt-get install pandoc

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-optional.txt ]; then pip install -r requirements-optional.txt; fi
        pip install -e .[docs,adsorbml]
        pip install git+https://github.com/Open-Catalyst-Project/Open-Catalyst-Dataset.git
        pip install git+https://github.com/Open-Catalyst-Project/ocpapi.git
        # pip install git+https://github.com/Open-Catalyst-Project/CatTSunami.git

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build docs

    # Deploy the book's HTML to gh-pages branch
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
