name: lint

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f packages/requirements.txt ]; then pip install -r packages/requirements.txt; fi
          if [ -f packages/requirements-optional.txt ]; then pip install -r packages/requirements-optional.txt; fi
          pip install -e  packages/fairchem-core[dev]
      - name: ruff
        run: |
          ruff --version
          ruff check src
